#Ctb {
  background-color: #eaeaea;
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.perfilCliente {
  background-color: #eaeaea;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.results tr[visible='false'],
.results2 tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true'],
.results2 tr[visible='true']{
  display:table-row;
}

.perfil {
  width: 100%;
  padding-top: 15%;
}
.logo-wrapper {
  text-align: center !important;
}
.referencia {
  font-size: x-large;
  text-align: right;
}
.form-horizontal .control-label {
  text-align: left;
}
.alert-success {
  background-color: #263848;
  padding-top: 1%;
  padding-bottom: 1%;
}
.inputTotal {
  text-align: right !important;
}
.modal-body {
  max-height: 350px;
  padding: 15px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
td.subtotal.text-right {
  line-height: 45px;
  height: 45px;
}
.totalapagar {
  text-align: right;
}
.barraInferior {
  width: 100px;
  float: right;
}

p.salida{
  float: right;
}

.elevado{
  position:absolute;
  left:0;
  width:100px;
  height:100px;
}
.compras table tbody,
.compras table tbody tr{
  position: relative;
}